
    <link href="../stylesheets/pages.css.scss" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="banner">
      <h2>
        Ben
      </h2>
    	<ul class= "nav">
        <li><a href="#">Nav 1</a></li><!--
        --><li><a href="#">Nav 2</a></li><!--
        --><li><a href="#">Nav 3</a></li>
      </ul>
    </div>
    <div class="main">
      <p>
        I do cool stuff...
      </p>
    </div>
    <div class="footer">
      <p><a href="#">GitHub</a></p><!--
      --><p><a href="#">LinkedIn</a></p><!--
      --><p><a href="#">Twitter</a></p><!--
      --><p>&copy; Ben Hill</p>
    </div>